html {
    scroll-behavior: smooth;
  }
  
      body::-webkit-scrollbar {
    width: 0.8em;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(252, 200, 59, 0.7);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: rgb(221, 9, 9);
    outline: 1px solid slategrey;
  }
  


  /*****************ABUJA Locationnnnnnnnnnnnn*/
  
  .topnav {
    overflow: hidden;
    background-color:rgb(247, 247, 247);
    position: relative;
  }
  
  
  .topnav #myLinks {
    display: none;
  }
  
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background:rgb(2, 2, 2);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #dd9700;
    color: white;
  }
  
  
  /*****************LAGOS Locationnnnnnnnnnnnn*/
  
  .tpnav {
    overflow: hidden;
    background-color:rgb(247, 247, 247);
    position: relative;
  }
  
  
  .tpnav #myLnks {
    display: none;
  }
  
  
  .tpnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .tpnav a.con {
    background:rgb(2, 2, 2);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  
  /* Style the active link (or home/logo) */
  .actve {
    background-color: #dd9700;
    color: white;
  }
  






  /*****************PH Locationnnnnnnnnnnnn*/
  
  .phtpnav {
    overflow: hidden;
    background-color:rgb(247, 247, 247);
    position: relative;
  }
  
  
  .phtpnav #phmyLnks {
    display: none;
  }
  
  
  .phtpnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
 
  .phtpnav a.phcon {
    background:rgb(2, 2, 2);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  

  .phactve {
    background-color: #dd9700;
    color: white;
  }
  



  /*****************OWERRI  Locationnnnnnnnnnnnn*/
  
  .ottpnav {
    overflow: hidden;
    background-color:rgb(247, 247, 247);
    position: relative;
  }
  
  
  .ottpnav #otmyLnks {
    display: none;
  }
  
  
  .ottpnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
 
  .ottpnav a.otcon {
    background:rgb(2, 2, 2);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  

  .otactve {
    background-color: #dd9700;
    color: white;
  }






  
  /*****************ABIA  Locationnnnnnnnnnnnn*/
  
  .abtpnav {
    overflow: hidden;
    background-color:rgb(247, 247, 247);
    position: relative;
  }
  
  
  .abtpnav #abmyLnks {
    display: none;
  }
  
  
  .abtpnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
 
  .abtpnav a.abcon {
    background:rgb(2, 2, 2);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  

  .abactve {
    background-color: #dd9700;
    color: white;
  }
  


  /************************************************ DASHBOARD *****************/

  .Newusers{
    background: linear-gradient(to right, #11998e 0%, #38ef7d 100%);
  }

  .Newuser{
    background: linear-gradient(to right, #03001e, #7303c0, #ec38bc, #fdeff9); 
  }

 .Newuse{
    background: linear-gradient(to right, #bdc3c7, #2c3e50);
 }
 .Newus{
    background: linear-gradient(to right, #e65c00, #f9d423); 
 }

 .boardarea{
     width: 96%;
 }


 .pie{
    box-shadow: 2px 3px 28px 3px rgba(0,0,0,0.23);
 }

 .line{
    box-shadow: 2px 3px 28px 3px rgba(0,0,0,0.23);
 }
 .combo{
    box-shadow: 2px 3px 28px 3px rgba(0,0,0,0.23);
 }
 



 /********************************* PROBLEM SHOOTING AREA*******************************/
 .fxtopnav {
    overflow: hidden;
    background-color:rgb(247, 247, 247);
    position: relative;
  }
  
  
  .fxtopnav #fxmyLinks {
    display: none;
  }
  
  
  .fxtopnav a {
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .fxtopnav a.fxicon {
    background:rgb(2, 2, 2);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  
  /* Style the active link (or home/logo) */
  .fxactive {
    background-color: transparent;
    color:rgb(0, 0, 0);
  }
  
  




  
 .matopnav {
    overflow: hidden;
    background-color:rgb(247, 247, 247);
    position: relative;
  }
  
  
  .matopnav #mamyLinks {
    display: none;
  }
  
  
  .matopnav a {
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .matopnav a.maicon {
    background:rgb(2, 2, 2);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  
  /* Style the active link (or home/logo) */
  .maactive {
    background-color: transparent;
    color:rgb(0, 0, 0);
  }
  
  
  


  
 .pctopnav {
    overflow: hidden;
    background-color:rgb(247, 247, 247);
    position: relative;
  }
  
  
  .pctopnav #mamyLinks {
    display: none;
  }
  
  
  .pctopnav a {
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .pctopnav a.pcicon {
    background:rgb(2, 2, 2);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  
  /* Style the active link (or home/logo) */
  .pcactive {
    background-color: transparent;
    color:rgb(0, 0, 0);
  }
  


  
  /***********************DASHBOARD***************************************************************/
    /* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    /* overflow-y: hidden; Disable vertical scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
    list-style-type: none;
  }
  
  /* The sidebar links */
  .sidebar a {
    
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover{
      color:rgb(255, 5, 5);
  }
  
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 25px;
    cursor: pointer;
    
    color: white;
    padding: 5px 10px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }